 
<h1>Where You Can Reach Me At</h1>
  <div class="big-review-div">
    <div class="smaller-review-div">
      <h1>GitHub</h1>
      
      <img src= "https://pbs.twimg.com/profile_images/1157035760085684224/iuxTnT5g_400x400.jpg">
      <h2><p><a href="https://github.com/kayleahJ218">kayleahJ218</a></p></h2>
   

    </div>
    <div class="smaller-review-div">
      <h1>LinkedIn</h1>
      <img src= "https://cdn3.iconfinder.com/data/icons/material-design-social-icons/152/Linkedin_icon-512.png">
      <h2><p><a href="https://www.linkedin.com/in/kayleah-wheless-222151194">Kayleah Wheless</a></p></h2>
     

   
  </div>
  </div>