/* Add application styles & imports to this file! */
.prof-csh 
  {
    background-color: lightgrey;
    width: 300px;
    border: 15px solid rgb(53, 66, 179);
    padding: 50px;
    margin: 20px;
  }

  .userName 
  {
    margin: 30px;
    padding: 10px;
    border: 5px solid rgb(255, 0, 157);
    
    background-color: blue;
    color: rgb(31, 236, 4);
  }
/*  I am using this class to create a place holder the new created and empty components */